.cardSize {
  width: 19rem;
}

.texto-sombra {
  text-shadow: 0.3rem 0.1rem 0.3rem #000000; /* Sombra del texto */
}

.navLink {
  font-size: 1.4rem;
}

.brand {
  font-size: 2rem;
}

.subtitulo {
  font-size: 1.3rem;
}

body {
  background-image: url("https://png.pngtree.com/background/20220731/original/pngtree-realistic-background-with-different-objects-for-shooting-and-watching-movies-and-picture-image_1895567.jpg");
  background-size: cover; /*Esto har치 que la imagen cubra todo el espacio disponible */
  background-repeat: no-repeat; /*Esto evitar치 que la imagen se repita */
  background-position: center center; /* Esto centrar치 la imagen en la p치gina */
}

.bg-opaco-10 {
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-opaco-90 {
  background-color: rgba(255, 255, 255, 0.9);
}

.text-claro {
  color: aliceblue !important;
}

.noSubrayado {
  text-decoration: none !important;
  color: #1d0750;
}

.noSubrayado:hover {
  color: #1d0750 !important;
  text-decoration: underline;
}

h5 {
  font-size: 1.1rem;
}

.shadowPersonal {
  box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 2.15) !important;
}

.card-title {
  display: flex;
  height: 3.8rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.sinopsis {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  overflow-y: auto;
  padding: 10px;
}

.btn-link{
   padding-left: 0.2rem;
   padding-right: 0;
}

.close{
    background-color: rgba(253, 68, 68, 0.6) !important;
    
    padding-top: 0rem !important;
    margin-top: 0rem !important;
    position:absolute; 
    right:10px !important; 
    top:10px !important; 
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content:center;
}
